.body {
    background-color: aquamarine;
    color: darkslategray;
}

main > .container {
    padding: 60px 15px 0;
  } 
  
  .body {
    background-color: 007fff;
  }
  
  .img-fluid {
  
    max-width: 10%;
  
  }